body {
  font-family: Arial;
  background: linear-gradient(to right, lightblue, lightpink);
}

.card {
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}
